<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create A Product</title>
</head>
<body>
    <form method="post" action="{{ url_for('createProduct') }}">
        <label for="productID">Product ID:</label><br>
        <input type="text" name="productID"><br>
        <label for="productName">Product Name:</label><br>
        <input type="text" name="productName" ><br>
        <label for="supplierName">Supplier Name:</label><br>
        <input type="text" name="supplierName"><br>
        <label for="productCategory">Product Category:</label><br>
        <input type="text" name="productCategory"><br>
        <label for="quantityPerUnit " >Quantity Per Unit:</label><br>
        <input type="text" name="quantityPerUnit" ><br>
        <label for="unitPrice " >Unit Price:</label><br>
        <input type="text" name="unitPrice" ><br>
        <label for="numberOfUnitAvailable " >numberOfUnitAvailable:</label><br>
        <input type="text" name="numberOfUnitAvailable"><br>
        <button type="submit">Create</button>
    </form>
</body>
</html>