<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<style>
    th, td {
        border: 1px solid;
        border-radius: 10px;
        border-color: #655fc9;
        padding: 15px;
    }
    tr.noBorder td {
      border: 0;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
    }
</style>
<body>
    <table class="center">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Supplier Name</th>
            <th>Product Category</th>
            <th>Quantity Per Unit</th>
            <th>Unit Price</th>
            <th>Number of Unit Available</th>
            <th>Action</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product['productID'] }}</td>
                <td>{{ product['productName'] }}</td>
                <td>{{ product['supplierName'] }}</td>
                <td>{{ product['productCategory'] }}</td>
                <td>{{ product['quantityPerUnit'] }}</td>
                <td>{{ product['unitPrice'] }}</td>
                <td>{{ product['numberOfUnitAvailable'] }}</td>
                <td>
                    <a href={{ url_for('editProduct', productID=product['productID']) }}>
                        <img src='/static/edit-icon.png' alt='edit', style="width:32px;height:32px;">
                    </a>
                    <a href={{ url_for('deleteProduct', productID=product['productID']) }}>
                        <img src='/static/delete-icon.png' alt="'delete", style="width:32px;height:32px;">
                    </a>
                </td>
            </tr>

        {% endfor %}
             <tr>
                <td colspan="8">
                    <a href={{ url_for('createProduct') }}>
                        <img src='/static/create-icon.png' alt="'create", style="width:32px;height:32px;">
                    </a>
                </td>
            </tr>
    </table>

</body>
</html>